@model Isaac.SampleMvc.Models.StrongTypeLinkSample

@{
    ViewBag.Title = "Thanks";
}

<h2 class="lead">Thanks! @Model.Name!</h2>

@if (Model.WillAttend == true)
{
    @: Welcome!
}
else
{
    @: Pity!
}



